{{ define "main" }}

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">

      <!-- Post Container -->
      <div class="
              col-lg-8 col-lg-offset-2
              col-md-10 col-md-offset-1
              post-container">

        {{ .Content }}

        <hr style="visibility: hidden;" />
        <ul class="pager">
          {{ with .Prev }}
          <li class="previous">
            <a href="{{ .Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .Title }}">
              Previous<br>
              <span>{{ .Title }}</span>
            </a>
          </li>
          {{ end }}
          {{ with .Next }}
          <li class="next">
            <a href="{{ .Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .Title }}">
              Next<br>
              <span>{{ .Title }}</span>
            </a>
          </li>
          {{ end }}
        </ul>
        <hr style="visibility: hidden;" />

        <!-- comments -->
        {{ partial "comments.html" . }}

      </div>

      <!-- Side Catalog Container -->
      {{ $toc := .Scratch.Get "toc" }}
      {{ if $toc }}
      <div class="
              col-lg-2 col-lg-offset-0
              visible-lg-block
              sidebar-container
              catalog-container">
        <div class="side-catalog">
          <hr class="hidden-sm hidden-xs">
          <h5>
            <a class="catalog-toggle" href="#">CATALOG</a>
          </h5>
          <ul class="catalog-body"></ul>
        </div>
      </div>
      {{ end }}
      <!-- Sidebar Container -->
      <div class="
              col-lg-8 col-lg-offset-2
              col-md-10 col-md-offset-1
              sidebar-container">

        <!-- Featured Tags -->
        {{ .Scratch.Set "bottom" true }}
        {{ partial "featured-tags.html" . }}

        <!-- Friends Blog -->
        {{ partial "friends.html" . }}
      </div>
    </div>
  </div>
</article>

<!-- async load function -->
<script>
  function async(u, c) {
    var d = document, t = 'script',
      o = d.createElement(t),
      s = d.getElementsByTagName(t)[0];
    o.src = u;
    if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
    s.parentNode.insertBefore(o, s);
  }
</script>
<!-- anchor-js, Doc:http://bryanbraun.github.io/anchorjs/ -->
<script>
  async("//cdnjs.cloudflare.com/ajax/libs/anchor-js/1.1.1/anchor.min.js", function () {
    anchors.options = {
      visible: 'hover',
      placement: 'right',
      // icon: '#'
    };
    anchors.add().remove('.intro-header h1').remove('.subheading').remove('.sidebar-container h5');
  })
</script>
<style>
  /* place left on bigger screen */
  @media all and (min-width: 800px) {
    .anchorjs-link {
      position: absolute;
      left: -0.75em;
      font-size: 1.1em;
      margin-top: -0.1em;
    }
  }
</style>

{{ end }}